@import "./variables"
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

// --------------Home Section---------------

.section-home
    height: 70vh
    width: 100%
    background-color: #3695c2
    display: flex
    justify-content: center
    align-items: center

    .box
        display: flex
        flex-direction: column
        align-items: center


@media (max-width: $breakpoint-tablet) 
    .section-home
        height: 65vh

// -------------Top Posts Section--------------
.header
    display: block
    text-align: center
    font-size: 2.5rem        
    font-family: 'Open Sans', sans-serif
    font-weight: 600
    letter-spacing: -1px
    position: relative

.underline
    margin: 10px auto 25px auto
    width: 140px
    height: 3px
    background-color: $green

.topPostCard
    margin: 10px 15px !important
    height: 175px !important
    border: none !important
    box-shadow: 3px 5px 10px #888 !important
.topPostImg
    height: 175px
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px
.topPostText
    height: 175px
    display: flex
    justify-content: center
    align-items: center
    font-size: 0.8rem

// ---------------------Recent Posts-------------------

.headerPost
    display: block
    text-align: center
    font-size: 2.5rem        
    font-family: 'Open Sans', sans-serif
    font-weight: 600
    letter-spacing: -1px
    position: relative
    padding-top: 40px
    color: white
    text-shadow: 2px 2px 7px #555

.underline2
    margin: 10px auto 25px auto
    width: 140px
    height: 3px
    background-color: white

.recentPostCard
    margin: 10px 15px !important
    height: 175px !important
    border: none !important
    box-shadow: 3px 3px 10px #333 !important

.card-body
    padding: 0

// ---------------------------About---------------------------

.about
    margin: 25px
    height: 80vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-size: 1.2rem

.aboutHeader
    font-size: 3rem
    margin: 2.5rem 0

.pageLinks
    display: flex
    flex-direction: column
    text-decoration: none
    color: white
    font-size: 1.5rem

.backgroundAbout
    height: auto
    z-index: -2
    background-color: linear-gradient(to right, #34e89e,#52c2a4,#061700,#061700,#000)
    
@media (max-width: $breakpoint-large)
    .topPostCard,.topPostImg,.recentPostCard
        height: 150px !important
        line-height: 1
    .topPostText
        font-size: 0.7rem
        
